.typ {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-grey-dark-1;
  min-height: 100vh;

  &__header {
    padding: 1.2rem 0 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    color: $color-grey-dark-1;
    box-shadow: $default-box-shadow;
  }

  &__whatsapp {
    width: 100%;
    max-width: 40rem;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    letter-spacing: 0.2rem;
    font-size: 1.8rem;
  }

  &__subtitle {
    display: inline-block;
    font-size: 1.2rem;
    max-width: 80%;
  }

  &__qr-code,
  &__bill {
    @include center-xy-axis-vertical;
    margin-bottom: 2rem;
  }

  &__qr-code-title,
  &__bill-title {
    margin: 4rem 0 3rem;
  }

  &__qr-code-img-container {
    padding: 1.2rem;
    background-color: $color-grey-light-1;
    @include center-xy-axis-vertical;
  }

  &__qr-code-img {
    width: 30rem;
    max-width: 100%;
  }

  &__isnt {
    width: 80%;
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    // grid-gap: 0.5rem;
    justify-items: center;
  }

  &__isnt-item-title,
  &__qr-code-title,
  &__bill-title {
    margin-top: 2.5rem;
    display: inline-block;
    border-radius: $default-border-radius;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2.4rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }

  &__isnt-item-text {
    display: inline-block;
    margin-top: 1rem;
    color: $color-grey-light-2;
    font-size: 1.5rem;
    text-align: center;

    &--highlight {
      color: $color-primary-dark;
    }

    &--link {
      &,
      &:link,
      &:visited {
        cursor: pointer;
        text-decoration: underline;
        color: $color-primary-dark;
        transition: all 0.2s;
      }

      &:hover,
      &:active {
        color: $color-primary-light;
      }
    }
  }

  &__cta {
    max-width: 60rem;
    margin-bottom: 6rem;
    padding: 0 7rem;

    @include respond(bp700) {
      padding: 0 6rem;
    }

    @include respond(bp400) {
      padding: 0 2rem;
      margin-bottom: 5rem;
    }
  }

  &__video-container {
    position: relative;
    width: 50%;
    margin-top: 2rem;
    box-shadow: $default-box-shadow;
    margin-bottom: 3rem;

    @include respond(bp1400) {
      width: 60%;
    }

    @include respond(bp800) {
      width: 100%;
    }
  }

  &__progress {
    position: relative;
    height: 3.1rem;
    width: 100%;
    max-width: 100rem;
    background-color: $color-grey-light-1;
    border-radius: $default-border-radius;
    animation: shine 10s ease-out;
  }

  &__progress-done {
    position: absolute;
    height: 3.1rem;
    width: 60%;
    background-color: $color-primary-dark;
    border-bottom-left-radius: $default-border-radius;
    border-top-left-radius: $default-border-radius;
    animation: growWidth 2s ease-out, changeColor 1s infinite alternate;
  }

  &__progress-number {
    position: relative;
    font-weight: 700;
    top: 28%;
    left: 92%;
    animation: appear 0.3s ease-out 2s;
    animation-fill-mode: backwards;
    font-size: 1.2rem;

    @include respond(bp1100) {
      left: 90%;
    }

    @include respond(bp1000) {
      left: 88%;
    }

    @include respond(bp600) {
      left: 82%;
    }

    @include respond(bp500) {
      left: 76%;
    }
  }
}
