.u-margin-top-xxs {
  margin-top: 0.5rem;
}

.u-margin-top-xs {
  margin-top: 1rem;
}

.u-margin-top-sm {
  margin-top: 2rem;
}

.u-margin-top-md {
  margin-top: 3rem;
}

.u-margin-top-lg {
  margin-top: 4rem;
}

.u-margin-top-xl {
  margin-top: 6rem;
}

.u-margin-top-xxl {
  margin-top: 8rem;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem;
}

.u-margin-bottom-md {
  margin-bottom: 3rem;
}

.u-margin-bottom-lg {
  margin-bottom: 4rem;
}

.u-margin-bottom-xl {
  margin-bottom: 6rem;
}

.u-margin-bottom-xxl {
  margin-bottom: 10rem;
}

.u-margin-left-sm {
  margin-left: 2rem;
}

.u-margin-left-md {
  margin-left: 3rem;
}

.u-margin-left-md-res {
  margin-left: 3rem;

  @include respond(bp400) {
    margin-left: 1.5rem;
  }
}

.u-margin-right-xs {
  margin-right: 1rem;
}

.u-margin-right-sm {
  margin-right: 2rem;
}

.u-margin-right-md {
  margin-right: 3rem;
}

.division-x-sm {
  width: 2rem;
}
